
<div id="photo_portfolio">
  <div id="heading">
    <h1>Portfolio</h1>
    <%= link_to "+ New Photo", new_photo_url %>  
  </div>

    <div id="background">  
      <div id="photo_set">
        <ul class="photo_gallery">
            <% @photos.each do |photo| %>
              <li><a href=""><%= image_tag photo.photo.url(:main) %><div><%= photo.title %></div></a></li>
            <% end %> 
        </ul>
      </div>  
      <!-- div id="skrollr-body">
      <div id="blocker" data-0="opacity:1;top:3%;transform:rotate(0deg);transform-origin:0 0;" data-500="opacity:0;top:-10%;transform:rotate(-90deg);"></div>
    </div> -->
  </div> 
</div>  



