
<div id="photo_portfolio">
  <div id="heading">
    <h1>Portfolio</h1>
    <%= link_to "+ New Photo", new_photo_url %>  
  </div>

    <div id="background">  
      <div id="photo_set">
        <ul class="photo_gallery">
            <% @photos.each do |photo| %>
              <li><a href=""><%= image_tag photo.photo.url(:main) %><div><%= photo.title %></div></a></li>
            <% end %> 
        </ul>
      </div>  
      <div id="skrollr-body">
      <div id="blocker" data-0="background-position:0px 0px;opacity:1;" data-250="opacity:0;"></div>
    </div>
  </div> 
</div>

<script type="text/javascript" src="js/skrollr.js"></script>
<script type="text/javascript">
    skrollr.init();
</script>  



