// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: "Cubano";
  src: url(/assets/cubano/cubano-regular-webfont.ttf) format('truetype');
}

body, span, a, h1, h2, ul, li, img {
  margin: 0; 
  padding: 0;
  border: 0; 
  outline: 0;
  font-size: 100%;
  background: transparent;
}
  
ul {
  list-style: none;
}
  
:focus {
  outline: 0;
}

a {
  text-decoration: none;
}

#heading {
  display: block;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 20px 0 0 0;
  background-color: #fff;
  z-index: 1;
    h1 {
      margin: 0 0 0 11%;
      font-family: "Cubano", "Raleway", "Helvetica-Neue";
      display: inline-block;
      float: left;
      font-size: 72px;
      width: 400px;
    }
    a {
      margin-top: 20px;
      margin-bottom: 25px;
      opacity: 0.4;
      float: left;
      display: block;
      font-family: "Cubano", "Raleway", "Helvetica-Neue";
      font-size: 50px;
      color: #696969;
    }
    a:hover {
      color: #383737;
    }
} 

#skrollr-body {
  width:100%; 
  height:100%; 
  position:fixed; 
}

#skrollr-body  div {
  overflow:hidden; 
  position:absolute; 
} 



#blocker {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 700px;
  background: #fff;
} 

#background {
  padding: 130px 10%;
}

li {
  float:left; 
  position:relative; 
  display:inline-block; 
  margin:10px; 
  padding:10px; 
  background:#fff; 
  box-shadow:0 0 5px rgba(0,0,0,.35);
}

li div {
  position: absolute;
  height: 0; 
  width: 280px;
  background: rgba(0,0,0,.45); 
  overflow: hidden;
  bottom: 10px; 
  left: 10px;
  padding: 0 10px;
  line-height: 50px;
  color: #fff;
  transition: height 1s;
}

li:hover div {
  height: 50px;
}